.mapa-container {
  text-align: center;
  padding: 10px;
  background: var(--ion-color-dark);
  
  .mapa-image {
    max-height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
}
