.imagem-header {
  text-align: center;
  margin: 20px 0;
  img {
    max-width: 200px;
  }
}

.card-menu {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--background);
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;

  &:active {
    transform: scale(0.95);
  }
}

.icone-menu {
  font-size: 48px;
  margin-bottom: 10px;
}

ion-card-header {
  padding: 0;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
